numpy
matplotlib
pandas
python-dateutil
pytz
tables
click
docopt
datetime
numexpr
Python
pytest
git+https://github.com/fact-project/matplotlib-hep.git#egg=matplotlib-hep
git+https://github.com/fact-project/irf.git#egg=irf
